In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt',sep=' ')

In [3]:
data.head()

          name  calories  sodium  alcohol  cost
0    Budweiser       144      15      4.7  0.43
1      Schlitz       151      19      4.9  0.43
2    Lowenbrau       157      15      0.9  0.48
3  Kronenbourg       170       7      5.2  0.73
4     Heineken       152      11      5.0  0.77

In [6]:
data.dtypes

name         object
calories      int64
sodium        int64
alcohol     float64
cost        float64
dtype: object

In [7]:
len(data)

20

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   calories  20 non-null     int64
 2   sodium    20 non-null     int64
 3   alcohol   20 non-null     float64
 4   cost      20 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 928.0+ bytes

In [ ]:
#Beer with min amount of sodium and its cost price

In [17]:
data[data['sodium']==min(data['sodium'])]

                   name  calories  sodium  alcohol  cost
14                Kirin       149       6      5.0  0.79
18  Olympia_Goled_Light        72       6      2.9  0.46

In [18]:
data['name'].nunique()

20

In [19]:
data['name'].unique()

array(['Budweiser', 'Schlitz', 'Lowenbrau', 'Kronenbourg', 'Heineken',
       'Old_Milwaukee', 'Augsberger', 'Srohs_Bohemian_Style',
       'Miller_Lite', 'Budweiser_Light', 'Coors', 'Coors_Light',
       'Michelob_Light', 'Becks', 'Kirin', 'Pabst_Extra_Light', 'Hamms',
       'Heilemans_Old_Style', 'Olympia_Goled_Light', 'Schlitz_Light'],
      dtype=object)

In [27]:
data.sort_values(by='cost', ascending=False)

                    name  calories  sodium  alcohol  cost
14                 Kirin       149       6      5.0  0.79
4               Heineken       152      11      5.0  0.77
13                 Becks       150      19      4.7  0.76
3            Kronenbourg       170       7      5.2  0.73
12        Michelob_Light       135      11      4.2  0.50
2              Lowenbrau       157      15      0.9  0.48
19         Schlitz_Light        97       7      4.2  0.47
11           Coors_Light       102      15      4.1  0.46
18   Olympia_Goled_Light        72       6      2.9  0.46
10                 Coors       140      18      4.6  0.44
1                Schlitz       151      19      4.9  0.43
8            Miller_Lite        99      10      4.3  0.43
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
0              Budweiser       144      15      4.7  0.43
7   Srohs_Bohemian_Style       149      27      4.7  0.42
9        Budweiser_Light       113       8      3.7  0.40
6             Augsberger       175      24      5.5  0.40
15     Pabst_Extra_Light        68      15      2.3  0.38
5          Old_Milwaukee       145      23      4.6  0.28